@font-face {
    font-family: myFont;
    src: url(./Montserrat-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: myFont;
    box-sizing: border-box;
}

.container{
    margin: 0 auto;
    padding: 2rem;
    width: 90%;
    height: auto;
}
.main-forumpart{
    display: flex;
    justify-content: space-evenly;
}
h1 {
    text-align: center;
    margin-bottom: 3rem;
}

.imgpart {
    display: flex;
    gap: 1rem;

}

.imgpart:first-child {
    margin-bottom: 1rem;
}

img{
    height: 110px;
    width: 95px;
    border-radius: 15px;
}

.img-section {
    display: flex;
    flex-direction: column;
    background-color: #EEEEEE;
    border-radius: .5rem;
    padding: 1rem;
    height: 400px;
    width: 450px;
}

.img-section p:nth-last-of-type(2):not(.content p) {
    margin-top: auto;
}

.img-section> p {
    border-top: solid 1px black;
    margin-top: .5rem;
    display: flex;
    justify-content: space-between;
}

.post-code {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* gap: 10px; */
}

.pos1 {
    width: 140px;
}
.pos2 {
    width: 60%;
}

.content {
    display: flex;
    flex-direction: column;
}

.content p:nth-child(3) {
    margin-top: auto;
    border: 1px solid rgb(170, 167, 167);
    border-radius: .2rem;
    width: 5rem;
    display: flex;
    justify-content: space-between;
    padding: .3rem  ;
}

.content p:last-of-type {
    margin-top: auto;
    border: .1px solid rgb(170, 167, 167);
    border-radius: .2rem;
    width: 5rem;
    display: flex;
    justify-content: space-between;
    padding: .3rem;
    color: rgba(43, 41, 41, 0.849);
    cursor: pointer;

}

span i {
    cursor: pointer;
}


.content span {
    background-color: #E3E3E3;
}

h3, label, .inp {
    margin: .5rem auto;
}

.inp{
    padding: .3rem .5rem;
    border:rgb(170, 167, 167) solid 1px;
    border-radius: 5px;
}

input {
    border: none;
    padding: .2rem .5rem;
    outline: none;
}

form button {
    display: block;
    margin-left: auto;
    padding: 1rem;
    font-weight: bold;
    background-color: orange;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

form {
    width: 40%;
}

#checkboxx {
    border: none;
}

select {
    border: none;
    outline: none;
    padding: .1rem .5rem;
}

label {
    opacity: .7;
}

i {
    opacity: .7;
}

.price {
    color: orange;
}
del {
    color: black;
    font-size: .8rem;
}

@media (max-width:1125px) {
    .post-code {
        display: flex;
        flex-direction: column;
    }
    .pos2{
        width: fit-content;
    }
}

@media (max-width:955px) {
    .img-section {
        width: 300px;
    }
}

@media (max-width:700px) {
    .main-forumpart{
        display: flex;
        flex-direction: column-reverse;
    }

    .img-section{
        width: 90%;
    }

    form{
        width: 90%;
    }
}
